header {
    width: 50%;
    margin: 84px 0 24px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
 
header div{
    display: flex; 
    align-items: center;
}

header h1,
header strong {
    color: white;
}

header img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 7px;
}
